.about {
  height: 90vh;
  display: flex;
  background: #111;
  color: white;
  align-items: left;
  justify-content: center;
  text-align: start;
}

.about-text {
  margin-left: 50px;
}

.about-text p {
  margin-top: 100px;
}

.about-text,
.about-image {
  padding: 60px;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
}

.portrait {
  margin-top: -70px;
}
