.container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 40px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  color: white;
  padding: 80px;
  background-image: url('./assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  opacity: 0.8;
}

.about {
  display: flex;
  background: #111;
  color: white;
}

.about-text,
.about-image {
  padding: 60px;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
}





#root {
  text-align: center;
}